arcade==2.6.17
asgiref==3.7.2
attrs==23.1.0
awsebcli==3.20.10
blessed==1.20.0
botocore==1.31.85
Brotli==1.1.0
cement==2.8.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.3
contourpy==1.2.0
cycler==0.12.1
dj-database-url==2.1.0
Django==4.2.7
django-heroku==0.3.1
django-sslserver==0.22
django-storages==1.14.4
et-xmlfile==1.1.0
Faker==25.2.0
fonttools==4.47.0
gunicorn==20.1.0
idna==3.7
iniconfig==2.0.0
jmespath==1.0.1
kiwisolver==1.4.5
matplotlib==3.8.2
mutagen==1.47.0
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
pathspec==0.10.1
Pillow==9.3.0
pluggy==1.3.0
psycopg2==2.9.9
pycparser==2.21
pycryptodomex==3.20.0
pyglet==2.0.dev23
pymunk==6.4.0
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
python-decouple==3.8
pytiled-parser==2.2.0
pytube==15.0.0
pytz==2023.3.post1
PyYAML==6.0.2
requests==2.32.3
semantic-version==2.8.5
setuptools==72.1.0
six==1.16.0
sqlparse==0.4.4
termcolor==1.1.0
testfixtures==7.2.2
typing_extensions==4.8.0
tzdata==2023.4
urllib3==1.26.19
wcwidth==0.1.9
websockets==12.0
whitenoise==6.4.0
xlwt==1.3.0
youtube-dl==2021.12.17
yt-dlp==2024.7.9
