{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>"Discover Electronics Delight: Your Trusted Source for Fast and Private Product Searches!"</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'affiliate/assets/img/about.jpg'%}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Discover the ultimate electronics shopping experience with us.</h3>
          <p class="fst-italic">
            At our company, our mission is to provide a comprehensive platform for users to easily find and access a wide variety of electronics products. 
          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Our online electronics platform is not only free to use, but also incredibly user-friendly, ensuring a seamless browsing and shopping experience for all.</h5>
                <p></p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>We take pride in creating an ad-free and commercial-free environment, allowing our users to explore electronics products without any distractions or interruptions</h5>
                <p></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  {% endblock %}