{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 style="margin-top:90px">All Categories</h1>
    <div class="row">
        {% for category in categories %}
            {% if not category.parent %} <!-- Display only parent categories -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" > <a style="color:black" href="{% url 'category_products' category.id %}">{{ category.name }}</a></h5>
                            {% if category.children.all %}
                                <ul class="list-group list-group-flush">
                                    {% for subcategory in category.children.all %}
                                        <li class="list-group-item">
                                            <a href="{% url 'category_products' subcategory.id %}">{{ subcategory.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
