
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if profile %}

<div class='text-center' style="margin-top: 100px">
  <div class='row'>
    <div class="col-8">
      <h1 class="text-dark">{{ profile.user.username | title }}'s Products</h1>
      <br>
      {% if products %}
      <div class="container-xxl">
        <div class="row">
          {% for product in products %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3">
            <div class="card">
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{product.name}}" width=200 height=180>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <h4 class="title"><a href="{% url 'product_details' pk=product.id %}">{{ product.name | title}}</a></h4>
                <p class="description lead">${{ product.product_price }}</p>
                <a href="#" class="btn btn-secondary mb-2">Buy</a>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <h1>Profile</h1>
      <br><br/>
      {% if profile.first_name or profile.last_name %}
      <h2 class="lead"> {{profile.first_name }} {{profile.last_name}}</h2>
      <br>
      {% endif %}
      <div class="container-xxl">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="alert alert-dark" role="alert">
              <div class="row">
                <div class="col-12 text-center"> <!-- Adjusted column width -->
                  {% if profile.profile_image %}
                  <img src="{{ profile.profile_image.url }}" width=100 height=100 class="" style="border-radius: 50%" alt="{{ profile.user.username }}"><br>
                  {% else %}
                  <img src="{% static 'images/profile_img.png' %}" width=100 height=100 class="" style="border-radius: 50%" alt="Profile Image"><br>
                  {% endif %}
                </div>
                <br><br/>
                {% if profile.facebook_link or profile.linkedIn_link or profile.instagram_link or profile.website_link %}
                <div class="alert alert-info" role="alert">
                  {% if profile.website_link %}
                  <a href="{{profile.website_link}}" target="new" class="fa fa-link me-1" style="font-size:25px; text-decoration:none"></a>
                  {% endif %}
                  {% if profile.facebook_link %}
                  <a href="{{profile.facebook_link}}" target="new" class="fa fa-facebook me-1" style="font-size:25px; text-decoration:none"></a>
                  {% endif %}
                  {% if profile.instagram_link %}
                  <a href="{{profile.instagram_link}}" target="new" class="fa fa-instagram me-1" style="font-size:25px; text-decoration:none"></a>
                  {% endif %}
                  {% if profile.linkedIn_link %}
                  <a href="{{profile.linkedIn_link}}" target="new" class="fa fa-linkedin me-1" style="font-size:25px; text-decoration:none"></a>
                  {% endif %}
                </div>
                {% endif %}
                {% if profile.profile_bio %}
                <div class="alert alert-secondary mt-0" role="alert">
                  <small>Bio:</small><br>
                  {{profile.profile_bio}}<br>
                </div>
                {% endif %}
                <div class="container mt-0">
                  {% if request.user.id == profile.user.id %}
                  <a class="btn btn-outline-secondary mb-5" href="{%url 'update_user' %}">Update Profile</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
